<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
   {{!-- <div class="modal-body"> --}}
        <form>
          <label for="registerEmail">Email address</label>
          <input type="email" id="registerEmail" class="form-control" placeholder="Email address">
          <label for="registerPassword">Password</label>
          <input type="password" id="registerPassword" class="form-control" placeholder="Password">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" class="form-control" placeholder="Password">
        </form>
      {{!-- </div> --}}
</body>
 
</html>